
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.dev ._copy {
    position: relative;
    margin-bottom: 10px;
    padding-right: 30px;
  }

  .dev ._copy_btn {
    font-size: 14px!important;
    display: none;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 5px;
    transition: background-color 0.3s ease;
  }

  .dev ._copy:hover ._copy_btn {
    display: block;
  }

  .dev ._copy_info {
  	font-family: 'Open Sans', sans-serif;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    padding: 10px 0;
    animation: slide-up 0.5s ease;
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
